
name: Continuous deployment
on:
  push:
    branches:
    - dev

jobs:
  build:
    name: Deploying on the VM
    runs-on: ubuntu-18.04
    steps:
    - name: Logging into the VM
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd PRODTeam1_RS
          git checkout dev
          git pull --rebase
          git status